<header>
    <div class="container">
        <a routerLink="/" class="logo">FOOD TRUCK!</a>
        <nav>
            <ul>
                <!--<li *ngIf="!isAuth">-->
                <li *ngIf="!isAuth"> 
                    <a routerLink="/login">Login</a>
                </li>
                <!--<li *ngIf="isAuth">-->
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/dashboard">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profile</a>
                        <a routerLink="/orders">Orders</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li class="cart-icon">
                    <a style="padding-bottom: 8px;" routerLink="/cart-page">
                        <!--if the cartQuantity is zero then it wont be shown-->
                        <img src="./assets/shopping-cart.png" alt="">
                         <span *ngIf="cartQuantity" >{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
        
    </div>
</header>
