*{
    transition: all 0.3s ease-in-out;
    font-size: large;

}

header{
    position: relative;
    background: #222831;
    padding: 0;
    /* border-bottom: 1px solid #EEEEEE; */
}

a{
    color: #EEEEEE;
}

a:hover{
    background: #31363F;
    color: white;
    cursor: pointer;
}

.container{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul a{
    padding: 1rem;
    display: inline-block;
}


.menu-container{
    position: relative;
}

.menu{
    position: absolute;
    z-index: 1;
    background: #222831;
    display: none;
}

.menu-container:hover .menu{
    border: solid 0.5px #222831;
    display: block;
}

.menu a{
    width: 100%;
    min-width: 8rem;
}

.cart-icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 0;
}

img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 10px;
}

a span{
    position: absolute;
    top: 6px;
    right: 8px;
    background: #EEEEEE;
    color: black;
    border-radius: 100rem;
    padding: 0.1rem 0.3rem;
    font-size: 0.7rem;  
}

