*{
    transition: ease 0.3s;
    
}

div{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    
}

input{
    border-radius: 10rem 0 0 10rem;
    border: none;
    height: 3rem;
    width: 20rem;
    background-color: whitesmoke;
    padding: 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: none;
}

input:focus{
    border: solid 1px #31363F;
}

div button{
    color: grey;
    height: 3rem;
    width: 5rem;
    font-size: 1rem;
    border-radius: 0 10rem 10rem 0;
    border: none;
    background-color: #222831;
    color: #EEEEEE;
    outline: none;
}

div button:hover{
    background-color: #1f2b3d;
    /* border: solid 1px #222831; */
    color: #ffffff;
    cursor: pointer;   
}