*{
    transition: all 0.3s ease-in-out;
}
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 8rem;
}

ul{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    /* border: 1px solid #a2a9b4; */
    border-radius: 1rem;
    list-style: none;
    margin: 0.5rem 2rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}

ul li:last-child{
    border: none;
}

li img{
    width: 5rem;
    height: 5rem;
    border-radius: 100rem;
    object-fit: cover;
}

li div{
    padding: 1rem;
}

li div:not(:first-child){
    flex-basis: 18%;
}

li select{
    width: 3rem;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    font-size: 1.1rem;
    font-weight: 100;
}


li .remove-button{
    border-radius: 1.5rem;
    border: solid 1px #222831;
    padding: 0.5rem;
    color: #EEEEEE;
    outline: none;
    background-color: #222831;
}

li .remove-button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #ffbbbb;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.checkout>div{
    position: relative;
    font-size: 1.4rem;
    margin: 1rem;
    padding: 1rem;
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.foods-count{
    margin-bottom: 1.5rem;
}


.foods-count::before{
    content: "Count:\00a0";
    color: grey;
}

.total-price::before{
    content: "Price:\00a0";
    color: grey;
}

.checkout a{
    padding: 1rem;
    color: white;
    background: #e72929;
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.8;
    justify-self: center;
}

.checkout a:hover{
    opacity: 1;
    cursor: pointer;
}

/*item's price section*/
.itemPriceFixed{
    position: relative;
    display: flex;
    justify-content: center;
    width: 40%;    
    margin-top: 0.5rem;
}

.itemPrice{
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: 55vh;
    height: fit-content;
    border-radius: 10px;
    position: sticky;
    top: 0;
}


.pTitle{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 35px;
    color: rgb(66, 66, 66);
}

.pSubtotal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    color: rgb(99, 98, 98);
}

.pShipping{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px;
    color: rgb(99, 98, 98);
}

hr{ 
    margin-top: 1.5rem;
    color: black;
    height: 2px;
    width: 95%;
}

.totalPrice{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
    color: rgb(99, 98, 98);
}

.totalPrice b{
    color: black;
    letter-spacing: 1px;
}

.tpNumber{
    color: black;
    font-weight: 600;
}

.checkoutBtn{
    color: white;
    background-color: #222831;
    border: 2px solid #222831;
    padding: 10px;
    margin-top: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.checkoutBtn:hover{
    background-color: white;
    color: black;
}
