<!-- 
 <div class="slider-container">
        <div class="slider">
=          <div *ngFor="let card of cards" class="slide" [class.active]="card === currentCard">
            <img [src]="card.url" alt="{{ card.title }}" /> 
          </div>
        </div>
        
        <div class="controls">
          <button class="prev" (click)="prev()">{{'<'}}</button>
          <button class="next" (click)="next()">{{'>'}}</button>
        </div>
    
        <div class="dots">
          <span *ngFor="let card of cards; let i = index" class="dot" [class.active]="i === currentIndex" (click)="goTo(i)"></span>
        </div>
    </div>
 -->
 
 <div class="container">
  <div class="title">
    <h3>Daily Offers!
      <p>Best <span stryle="color: #EEEEEE">Delivered</span> Categories</p>
    </h3>
  </div>
    <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left" #leftArrow></i>
        <div class="carousel" #carousel>
            <img src="assets/slider-2.jpg" alt="">
            <img src="assets/slider-3.png" alt="">
            <img src="assets/slider-5.png" alt="">
            <img src="assets/slider-7.png" alt="">
            <img src="assets/slider-8.avif" alt="">
            <img src="assets/slider-9.png" alt="">
            <img src="assets/slider-10.png" alt="">
            <img src="assets/slider-4.png" alt="">
        </div>
        <i id="right" class="fa-solid fa-angle-right" #rightArrow></i>
    </div>
</div>