<!--newSeason section-->

<div class="newSeason">

    <div class="nsItem">
        <img src="assets/new-season-2.jpg" alt="" class="nsImg">
    </div>

    <div class="nsItem">
        <h3 class="nsTitleSm">Award-Winning Dishes</h3>
        <h1 class="nsTitle">Seasonal Specialties</h1>
        <h1 class="nsTitle">Exclusive New Menu</h1>

        <a href="#top">
            <button class="nsButton">Find Your Flavor!</button>
        </a>
    </div>

    <div class="nsItem">
        <img src="assets/new-season-3.jpg" alt="" class="nsImg">
    </div>

</div>